/* Doorstop.css file. */
.caption {
    text-align: center;
    font-size:15px;
    }

#img {width: 100%}

.anchor{
    display:block;
    height:163px; /* this is the height of your header */
    margin-top:-163px; /* this is again negative value of the height of your header */
    visibility:hidden;  
}